body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 100px;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    text-transform: uppercase;
}

h3 {}

p {}

.header {
    background-color: yellow;
}

.content {
    background-color: grey;
}

.about {
    background-color: green;
}

.main {}

.form-control {
    width: 200px;
}

.result {
    display: none;
}