body {
    font-family: 'Lato', sans-serif;
    color: #474143;
}

h1 {
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 100px;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    text-transform: uppercase;
}

h3 {}

p {}

/****************************
  STYLING OF HEADER SECTION
****************************/

.header {
    background-color: rgb(255, 198, 54);
}

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    ;
}

div.foo {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.letter {
    display: inline-block;
    font-weight: 900;
    font-size: 8em;
    margin: 0.2em;
    position: relative;
    color: #00B4F1;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.letter:before, .letter:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
}

.letter, .letter:before, .letter:after {
    transition: all 0.3s ease-in-out;
}

.letter:before {
    color: #fff;
    text-shadow: -1px 0px 1px rgba(255, 255, 255, .8), 1px 0px 1px rgba(0, 0, 0, .8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
    color: rgba(0, 0, 0, .11);
    z-index: 2;
    transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.letter:hover:before {
    color: #fafafa;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
    transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}

/****************************
  END STYLING HEADER
****************************/

/***********************
  STYLING OF CONTENT
************************/

.content {
    background-image: url(../images/numbers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-attachment: scroll;
}

/***********************
  ABOUT SECTION START
************************/

.about {
    background-color: #00ADA9;
    height: 440px;
    opacity: 0.9;
    margin: 10px 10px 10px 30px;
    font: 15px;
    border: 2px solid #FF6444;
}

.about h2 {
    font-size: 25px;
    color: #FFC636;
    animation-duration: 5s;
    animation-delay: 02s;
    animation-iteration-count: 1;
}

.info {
    margin: 20px 10px 0px 0px;
    padding: 15px 10px 0px 0px;
}

.info p {
    font-size: 20px;
}

/***********************
 END OF ABOUT STYLING
************************/

/***********************
  MAIN STYLING
************************/

.main {
    height: 440px;
    margin: 10px 10px;
    opacity: 0.9;
    border: 2px solid rgb(255, 198, 54);
}

.main h2 {
    font-family: 'Monoton', cursive;
    text-align: center;
    text-decoration: underline;
    color: red;
}

.main h3 {
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 7;
}

}

.section-1 {
    margin: 10px 20px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
}

.rules {
    padding: 0px 45px;
    font-size: 15px;
    display: inline-block;
}

.ping {
    color: #00ADA9;
    font-size: 20px;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.pong {
    color: rgb(255, 198, 54);
    font-size: 20px;
}

.ping-pong {
    color: #FF6444;
    font-size: 20px;
}

.form_f {
    padding: 0px 70px;
}

.form-control {
    width: 200px;
}

/*.content {
    background-color: grey;
}*/

label {
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 15;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #00ADA9;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #00ADA9;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background: #009490;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/***********************
  END OF MAIN STYLING
************************/

/***********************
  RESULT STYLING
************************/

.result {
    background-color: #FF6444;
    height: 440px;
    margin: 10px 10px 10px 10px;
    opacity: 0.9;
    border: 2px solid #00ADA9;
}

.result h2 {
    font-size: 23px;
    color: rgb(255, 198, 54);
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

}

.result:hover {
    background-color: #FF6444;
    opacity: 1;
    transition: 5s;
}

.result-tab {
    display: none;
    color: white;
    padding: 0px 0px;
    margin: 50px 70px;
}

.result ul {
    list-style-type: none;
    font-size: 20px;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#result-h {
    display: contents;
}

/***********************
  END OF RESULT STYLING
************************/